DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bs42
NEXT_PUBLIC_STORE_URL=http://localhost:3001
NEXT_PUBLIC_ADMIN_URL=http://localhost:3000
BETTER_AUTH_SECRET=
SITE_MAILER_HOST=
SITE_MAILER_PORT=
SITE_MAILER_EMAIL=
SITE_MAILER_PASSWORD=
COOKIE_DOMAIN=.bs42.net
SEED_SUPERADMIN_EMAIL=
SEED_SUPERADMIN_PASSWORD=
SEED_SUPERADMIN_NAME=